@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@font-face {
  font-family: myfont ;
  src: url(ADELIA.otf);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('bg.jpg');
  background-size: 1500px 750px;
  background-repeat: no-repeat;
  height: 100vh;
  
  
}
.container{

  width: 640px;
  
  border-radius: 7px;
  
}
.container h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#e82f6a;
  font-size: 60px;
  font-weight: 500;
  padding: 16px 25px;
  text-align: center;
}

.startArea {
 display: flex;
 justify-content: center;
 align-items: center;
}

.startBtn {
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;
  color: #080808;
  cursor: pointer;
  margin: 50px;
  padding: 17px 0px;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 22px;
  border-radius: 70px;
  width: calc(100% / 2 - 8px);
  transition: all 0.5s ease;
  background: #e82f6a;

}
 
.startBtn:before{
  content: '';
  top: 0;
  left: 0;
  width: 10px;
  height: 10px; 
  transition: all 0.5s ease;
  transition-delay: 0.5s;

}

.startBtn::after{
  content: '';
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  transition: all 0.5s ease;
  transition-delay: 0.5s;

}

.startBtn:hover:before{
  width: 100%;
  height: 100%;
}

.startBtn:hover::after{
  width: 100%;
  height: 100%;
}


.startBtn:hover{
  background: #e82f6a;
  color: #111;
  box-shadow: 0 0 50px #e82f6a;
  transition-delay: 0.1s;
}


.container .content{
  display: none; 
  margin: 15px 20px 35px;
}
.content .word{
  user-select: none;
  font-family: myfont;
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 24px;
  margin-right: -24px;
  word-break: break-all;
  text-transform: uppercase;
}
.content .details{
  margin: 25px 0 20px;
}
.details p{
  font-family: cursive;
  font-size: 25px;
  margin-bottom: 10px;
}
.details p b{
  font-weight: 500;
}
.content input{
  width: 100%;
  height: 60px;
  outline: none;
  padding: 0 16px;
  font-size: 25px;
  border-radius: 30px;
  border: 1px solid #bfbfbf;
  background-color: rgb(215, 149, 149);
}
.content input:focus{
  box-shadow: 0px 2px 4px rgba(0,0,0,0.08);
}
.content input::placeholder{
  color: #000000;
}
.content input:focus::placeholder{
  color: #ec95bf;
}
.content .buttons{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.buttons button{
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 35px;
  width: calc(100% / 2 - 8px);
  transition: all 0.3s ease;
}
.buttons button:active{
  transform: scale(0.97);
}
.buttons .refresh-word{
  background: #7b0b3a;
}
.buttons .refresh-word:hover{
  background: #c566b1;
}
.buttons .check-word{
  background: #0c5750;
}
.buttons .check-word:hover{
  background: #76dcdce6;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 300px;
}

.modal-content {
  font-size: 25px;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 70%;
}


.modal-wrong {
border: 2px solid rgb(3, 0, 0);
background-color: rgb(219, 213, 216);
}

.modal-correct {
  border: 2px solid rgb(10, 12, 10);
  background-color: rgb(219, 213, 216);
  }


.close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.score-area {
  padding-top: 15px;
  font-size: 30px;
  color: black;
}

.score {
 color: #000000;
}

@media screen and (max-width: 470px) {
  .container h2{
    font-size: 22px;
    padding: 13px 20px;
  }
  .content .word{
    font-size: 30px;
    letter-spacing: 20px;
    margin-right: -20px;
  }
  .container .content{
    margin: 20px 20px 30px;
  }
  .details p{
    font-size: 16px;
    margin-bottom: 8px;
  }
  .content input{
    height: 55px;
    font-size: 17px;
  }
  .buttons button{
    padding: 14px 0;
    font-size: 16px;
    width: calc(100% / 2 - 7px);
  }
}